<h1>Shelters</h1>
<div class="shelters_list">
  <% @shelters.each do |shelter| %>
    <ul>
      <li><%= "#{shelter.name} " %></li>
      <li>Created on: <%= "#{shelter.created_at}" %></li>
      <li><%= link_to "Update Shelter: #{shelter.name}", "/shelters/#{shelter.id}/edit" %></li>
    </ul>
  <% end %>
</div>

<div class="new_shelter">
  <%= link_to "Create a New Shelter", "/shelters/new" %>
</div>
