<h1>"Shelters"</h1>
<% @shelters.each do |shelter| %>
  <ul>
    <li><%= "#{shelter.name} " %></li>
    <li>Created on: <%= "#{shelter.created_at}" %></li>
  </ul>
<% end %>

<div class="new_shelter">
  <%= link_to "Create a New Shelter", "/shelters/new" %>
</div>
